html, body {
  background-color: black;
}

h4 {
  color: khaki;
}

.moviePosterList {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.relatedPosterList {
  max-width: 120px;
  height: auto;
  border-radius: 10px;
}

.movieDiv {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.relatedDiv {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.detailPoster {
  max-width: 300px !important;
}

img:hover {
  transform: scale(1.05);
}


.previousNextButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 1.42857;
  border-color: transparent;
  background-color: khaki;
  transition: all .2s ease-in-out;
}

.previousNextButton:hover {
  transform: scale(1.2);
  background-color: rgb(206, 194, 92);
}

.backButton {
  height: 50px;
  width: auto;
  border-radius: 20%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.42857;
  border-color: transparent;
  background-color: khaki;
  transition: all .2s ease-in-out;
}

.backButton:hover {
  transform: scale(1.2);
  background-color: rgb(206, 194, 92);
}

.movieTitle {
  overflow-x: auto;
  text-align: center;
  color: khaki;
}

.header {
  color: khaki;
}


.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(185, 177, 106);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text {
  color: khaki;
}


a {
  text-decoration: none;
}

.relatedMovieTitle {
  font-size: 10pt;
  text-align: center;
  font-weight: bold
}
.subtitle {
  color: white !important;
}


.navbarLink:hover {
  text-decoration: underline !important;
}